.textContainer {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  overflow: hidden;
}

.effectWrapper {
  position: absolute;
  top: calc(50% - 480px);
  left: calc(50% - 480px);
  width: 960px;
  height: 960px;
  z-index: -2;
  pointer-events: none;
}

.effect {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 90deg,
    #1d243a 0%,
    /* deep smoky violet for edge shadow */ #3757cf 7%,
    /* cool blue (outer glow) */ #768fde 11%,
    /* lighter blue (outer flame) */ #f4e4bb 20%,
    /* pale yellow (mid-flame halo) */ #ffd06b 26%,
    /* soft gold (flame highlight) */ #ffb269 34%,
    /* orange-yellow (upper flame) */ #fe8b71 44%,
    /* warm orange-pink (inside flame) */ #f46e5a 52%,
    /* warm red (central flame) */ #c03764 61%,
    /* deep hot pinkish-red (core edge) */ #fdedf7 65%,
    /* soft white-pink (spark center) */ #f9e17e 70%,
    /* pale yellow center */ #c6d6fb 76%,
    /* sky blue highlight (inner highlight) */ #5156b9 82%,
    /* deep purple-blue (shadow wrap) */ #1d243a 100%
      /* smoky edge again for loop */
  );
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  position: relative;
  color: #121212;
}

.customSelect {
  border-radius: 12px;
  background: #ffffff00;
  z-index: -1;
  box-shadow: inset 0 0 16px 4px #6e6eff;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  mix-blend-mode: hard-light;
}

@keyframes processing {
  0% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
